.sign-in {
  background-color: #171717;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.sign-in .nav-nav-header {
  display: flex;
  width: 1440px;
  height: 119px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b91c1c;
}

.sign-in .texas-tech-athletics {
  position: relative;
  width: 58px;
  height: 67px;
  aspect-ratio: 0.86;
  object-fit: cover;
}

.sign-in .search-bar {
  position: absolute;
  top: 36px;
  left: 761px;
  width: 357px;
  height: 47px;
  background-color: #262626;
  border-radius: 50px;
}

.sign-in .text-wrapper {
  position: absolute;
  width: 31.86%;
  height: 58.62%;
  top: 20.69%;
  left: 6.19%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #525252;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.sign-in .icon-solid-search {
  position: absolute;
  width: 9.73%;
  height: 72.41%;
  top: 13.79%;
  left: 84.96%;
}

.sign-in .icon {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.sign-in .search-wrapper {
  top: 508px;
  position: absolute;
  left: 516px;
  width: 408px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50px;
}

.sign-in .search {
  position: absolute;
  width: 31.86%;
  height: 58.62%;
  top: 20.69%;
  left: 6.19%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #525252;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.sign-in .div-wrapper {
  top: 411px;
  position: absolute;
  left: 516px;
  width: 408px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50px;
}

.sign-in .div {
  top: 605px;
  position: absolute;
  left: 516px;
  width: 408px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50px;
}

.sign-in .frame {
  display: inline-flex;
  align-items: center;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
}

.sign-in .img {
  position: relative;
  width: 41px;
  height: 41px;
}

.sign-in .already-have-account {
  position: absolute;
  top: 690px;
  left: 560px;
  width: 320px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.sign-in .span {
  font-weight: 600;
}

.sign-in .text-wrapper-2 {
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
}

.sign-in .text-wrapper-3 {
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
}

.sign-in .frame-2 {
  position: absolute;
  top: 729px;
  left: 623px;
  width: 193px;
  height: 61px;
  display: flex;
  background-color: #b91c1c;
  border-radius: 50px;
}

.sign-in .text-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 107px;
  height: 31px;
  margin-left: 43px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 20px;
}

.sign-in .text-wrapper-5 {
  position: absolute;
  top: 326px;
  left: 466px;
  width: 508px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 20px;
}

.sign-in .footer {
  position: absolute;
  top: 966px;
  left: 0;
  width: 1440px;
  height: 58px;
  background-color: #b91c1c;
}

.sign-in .p {
  position: absolute;
  top: 978px;
  left: 584px;
  width: 313px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}
