.dashboard {
    background-color: #171717;
    width: 100%;
    min-width: 1440px;
    height: 1024px;
    position: relative;
}

.dashboard .rectangle {
    top: 354px;
    left: 55px;
    width: 409px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .div {
    top: 354px;
    left: 516px;
    width: 410px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .text-wrapper {
    top: 371px;
    left: 230px;
    width: 212px;
    color: #f3f4f6;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .p {
    top: 509px;
    left: 75px;
    color: #f3f4f6;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-2 {
    top: 547px;
    left: 75px;
    width: 343px;
    color: #f3f4f6;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-3 {
    position: absolute;
    top: 421px;
    left: 317px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #f3f4f6;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-4 {
    position: absolute;
    top: 456px;
    left: 270px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #f3f4f6;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .rectangle-2 {
    top: 354px;
    left: 975px;
    width: 411px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .text-wrapper-5 {
    position: absolute;
    top: 512px;
    left: 1021px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-6 {
    top: 547px;
    left: 1021px;
    width: 336px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-7 {
    position: absolute;
    top: 419px;
    left: 1240px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-8 {
    position: absolute;
    top: 454px;
    left: 1235px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .rectangle-3 {
    top: 690px;
    left: 55px;
    width: 409px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .rectangle-4 {
    top: 690px;
    left: 516px;
    width: 410px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .rectangle-5 {
    top: 690px;
    left: 975px;
    width: 411px;
    height: 277px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .rectangle-6 {
    top: 138px;
    left: 402px;
    width: 293px;
    height: 114px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .rectangle-7 {
    top: 138px;
    left: 749px;
    width: 293px;
    height: 114px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .rectangle-8 {
    top: 138px;
    left: 1092px;
    width: 293px;
    height: 114px;
    border-radius: 15px;
    position: absolute;
    background-color: #262626;
}

.dashboard .line {
    position: absolute;
    top: 78px;
    left: 0;
    width: 1440px;
    height: 1px;
    object-fit: cover;
}

.dashboard .search-bar {
    position: absolute;
    top: 25px;
    left: 959px;
    width: 281px;
    height: 36px;
    background-color: #262626;
    border-radius: 50px;
}

.dashboard .text-wrapper-9 {
    position: absolute;
    width: 31.86%;
    height: 58.62%;
    top: 20.69%;
    left: 6.19%;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #525252;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.dashboard .icon-solid-search {
    position: absolute;
    width: 9.73%;
    height: 72.41%;
    top: 13.79%;
    left: 84.96%;
}

.dashboard .icon {
    position: absolute;
    width: 80.00%;
    height: 80.00%;
    top: 10.00%;
    left: 10.00%;
}

.dashboard .user-circle {
    position: absolute;
    width: 2.85%;
    height: 4.00%;
    top: 2.15%;
    left: 88.54%;
}

.dashboard .icon-outline-logout {
    position: absolute;
    width: 2.71%;
    height: 3.81%;
    top: 2.25%;
    left: 92.99%;
}

.dashboard .text-wrapper-10 {
    position: absolute;
    top: 33px;
    left: 55px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b91c1c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.dashboard .group {
    position: absolute;
    top: 138px;
    left: 55px;
    width: 303px;
    height: 114px;
}

.dashboard .rectangle-9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 293px;
    height: 114px;
    background-color: #262626;
    border-radius: 15px;
}

.dashboard .text-wrapper-11 {
    top: 84px;
    left: 39px;
    width: 32px;
    color: #10b981;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-12 {
    top: 11px;
    left: 15px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d1d5db;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-13 {
    top: 37px;
    left: 106px;
    white-space: nowrap;
    position: absolute;
    width: 82px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-14 {
    top: 87px;
    left: 202px;
    position: absolute;
    width: 38px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #4b5563;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-15 {
    top: 149px;
    left: 417px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d1d5db;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-16 {
    top: 175px;
    left: 508px;
    white-space: nowrap;
    position: absolute;
    width: 82px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-17 {
    top: 222px;
    left: 439px;
    width: 34px;
    color: #10b981;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-18 {
    top: 225px;
    left: 604px;
    position: absolute;
    width: 38px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #4b5563;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .icon-solid-trending {
    left: 473px;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 220px;
}

.dashboard .icon-solid-chevron {
    position: absolute;
    top: 226px;
    left: 643px;
    width: 17px;
    height: 17px;
}

.dashboard .text-wrapper-19 {
    top: 149px;
    left: 764px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d1d5db;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-20 {
    top: 175px;
    left: 855px;
    text-align: center;
    position: absolute;
    width: 82px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-21 {
    top: 222px;
    left: 796px;
    width: 24px;
    color: #dc2626;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-22 {
    top: 225px;
    left: 951px;
    position: absolute;
    width: 38px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #4b5563;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .img {
    position: absolute;
    top: 226px;
    left: 990px;
    width: 17px;
    height: 17px;
}

.dashboard .text-wrapper-23 {
    top: 149px;
    left: 1107px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d1d5db;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-24 {
    top: 175px;
    left: 1198px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    width: 82px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-25 {
    top: 222px;
    left: 1131px;
    width: 32px;
    color: #10b981;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-26 {
    top: 225px;
    left: 1294px;
    position: absolute;
    width: 38px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #4b5563;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .icon-solid-trending-2 {
    position: absolute;
    top: 221px;
    left: 1163px;
    width: 23px;
    height: 23px;
}

.dashboard .icon-solid-chevron-2 {
    position: absolute;
    top: 226px;
    left: 1333px;
    width: 17px;
    height: 17px;
}

.dashboard .text-wrapper-27 {
    position: absolute;
    top: 325px;
    left: 70px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #525252;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dashboard .text-wrapper-28 {
    position: absolute;
    top: 663px;
    left: 70px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #525252;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dashboard .view-company-button {
    position: absolute;
    top: 588px;
    left: 327px;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .rectangle-10 {
    width: 96.52%;
    height: 84.62%;
    top: 7.69%;
    left: 0;
    border-radius: 8px;
    position: absolute;
    background-color: #262626;
}

.dashboard .text-wrapper-29 {
    position: absolute;
    width: 84.35%;
    height: 57.69%;
    top: 19.23%;
    left: 7.83%;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #b91c1c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .chatgpt-image-oct {
    position: absolute;
    top: 717px;
    left: 91px;
    width: 101px;
    height: 69px;
    aspect-ratio: 1.47;
}

.dashboard .chatgpt-image-oct-2 {
    position: absolute;
    top: 369px;
    left: 556px;
    width: 116px;
    height: 102px;
    aspect-ratio: 1.14;
}

.dashboard .chatgpt-image-oct-3 {
    position: absolute;
    top: 709px;
    left: 555px;
    width: 135px;
    height: 103px;
    aspect-ratio: 1.31;
}

.dashboard .chatgpt-image-oct-4 {
    position: absolute;
    top: 709px;
    left: 1011px;
    width: 120px;
    height: 110px;
    aspect-ratio: 1.09;
}

.dashboard .view-company-button-2 {
    top: 927px;
    left: 321px;
    position: absolute;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .view-company-button-3 {
    top: 925px;
    left: 776px;
    position: absolute;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .view-company-button-4 {
    top: 588px;
    left: 782px;
    position: absolute;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .view-company-button-5 {
    top: 588px;
    left: 1248px;
    position: absolute;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .view-company-button-6 {
    top: 925px;
    left: 1251px;
    position: absolute;
    width: 115px;
    height: 26px;
    background-color: #b91c1c;
    border-radius: 8px;
}

.dashboard .text-wrapper-30 {
    position: absolute;
    top: 374px;
    left: 764px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-31 {
    position: absolute;
    top: 505px;
    left: 550px;
    width: 339px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-32 {
    top: 547px;
    left: 549px;
    width: 339px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-33 {
    position: absolute;
    top: 409px;
    left: 782px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-34 {
    position: absolute;
    top: 444px;
    left: 773px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-35 {
    position: absolute;
    top: 744px;
    left: 314px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-36 {
    position: absolute;
    top: 779px;
    left: 288px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-37 {
    top: 829px;
    left: 91px;
    width: 311px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-38 {
    position: absolute;
    top: 879px;
    left: 91px;
    width: 311px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-39 {
    position: absolute;
    top: 709px;
    left: 247px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-40 {
    top: 369px;
    left: 1165px;
    width: 198px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-41 {
    top: 709px;
    left: 725px;
    width: 166px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-42 {
    top: 829px;
    left: 572px;
    width: 329px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-43 {
    top: 879px;
    left: 573px;
    width: 305px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-44 {
    position: absolute;
    top: 759px;
    left: 761px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-45 {
    position: absolute;
    top: 794px;
    left: 743px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-46 {
    top: 709px;
    left: 1153px;
    width: 213px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-47 {
    position: absolute;
    top: 829px;
    left: 1030px;
    width: 354px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-48 {
    top: 882px;
    left: 1031px;
    width: 312px;
    color: #ffffff;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-49 {
    position: absolute;
    top: 759px;
    left: 1244px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .text-wrapper-50 {
    position: absolute;
    top: 794px;
    left: 1187px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard .icon-solid-trending-3 {
    left: 822px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 220px;
}

.dashboard .chatgpt-image-oct-5 {
    position: absolute;
    top: 377px;
    left: 81px;
    width: 113px;
    height: 117px;
    aspect-ratio: 0.96;
}

.dashboard .chatgpt-image-oct-6 {
    position: absolute;
    top: 377px;
    left: 1017px;
    width: 107px;
    height: 81px;
    aspect-ratio: 1.32;
}

.dashboard .group-2 {
    position: absolute;
    top: 221px;
    left: 126px;
    width: 187px;
    height: 23px;
    display: flex;
    gap: 147px;
}

.dashboard .icon-solid-trending-4 {
    width: 23px;
    height: 23px;
}

.dashboard .icon-solid-chevron-3 {
    margin-top: 5px;
    width: 17px;
    height: 17px;
}